<!DOCTYPE html>
<html>
<head>
<title>My Site</title>
<link rel="stylesheet" href="style.css"> </head>
<body>

<h1>Welcome to our beautiful site!</h1>

<div class="buttons-container">
  <a href="/login" class="button">Log In</a>
  <a href="/register" class="button">Register</a>
</div>

</body>
</html>
