<!DOCTYPE html>
<html>
<head>
<title>Log In</title>
<link rel="stylesheet" href="style.css"> </head>
<body>

<h1>Log In</h1>


<form action="/login" method="POST">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Log In</button>
</form>

</body>
</html>
