<!DOCTYPE html>
<html>
<head>
<title>My Beautiful Website</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>

<header>
  <h1>Welcome to my website!</h1>
  <nav>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  </nav>
</header>

<main>
  <p>This is a placeholder paragraph. Replace it with your content!</p>
</main>

<footer>
  <p>&copy; 2024 A.Opemipo</p>
</footer>

</body>
</html>
